.header{
    height:90px;
    /* box-shadow: 2px 2px 2px 2px rgb(168, 164, 164); */
    position: relative;
    background-color: #19398a;

}
.header img{
    width:100px;
    margin-left: 50px;
}
.auth{
    position: absolute;
    right: 0;
    top: 0;
}
.auth>a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    margin-right: 10px;
}